@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: local('B612 Mono Regular'), local('B612Mono-Regular'),
    url('../font/b612-mono-v14-latin-regular.woff2') format('woff2');
}

@mixin flexMix($align, $justify, $column) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $column;
}

@mixin borders($color) {
  border-radius: .6rem;
  border: .2rem solid $color;
}

@mixin monoType($size, $lineHeight) {
  font: normal $size/$lineHeight 'B612 Mono', monospace;
}