:root {
  --scr: #414149;
  --bg: #1c1c22;
  --bg2: #323139;
  --bg3: rgba(75, 75, 85, 0.6);
  --br: #0c0c16;
  --br2: #5d5d65;
  --hig: #f2f2f2;
  --def: #c1c1c1;
  --mes: #ebebeb;
  --au: #b6ecb6;
  --au2: #b3cea8;
  --un: #ffa9a9;
  --un2: #e59a9a;
  --m: 1.3rem;
  --s: 1.1rem;
}