header {
  height: 2.8rem;
  line-height: 2.8rem;

  >a,
  >button {
    margin: 0 .6rem;
  }

  & :first-child {
    margin-left: 0;
  }
}

footer {
  @include monoType(var(--s), var(--s));
  text-align: right;
  margin-top: .5rem;
}