#sellers {
  -webkit-user-modify: read-write-plaintext-only;
  margin: .2rem .4rem .4rem .4rem;
  min-width: 35.6rem;
  font: normal var(--s)/1.6rem 'B612 Mono', monospace;
  background-color: var(--bg);
  border-radius: .6rem;
  border: .2rem solid var(--brd);
  color: var(--sec);
  caret-color: var(--main);
  padding: .8rem 1.1rem;
  height: 17.3rem;
  overflow: auto;
  transition: border-color .1s ease-out;

  &:empty:before {
    content: attr(data-text);
  }

  &:hover {
    border-color: var(--bt2);
  }

  &:focus {
    border-color: var(--sec);
    outline: none;
    cursor: auto;
  }

  &:focus div {
    color: var(--sec);
  }

  .auth {
    color: var(--au2);
  }

  .unau {
    color: var(--un2);
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--bg);
  border-radius: .6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bg2);
  border-radius: .4rem;
  &:hover {
    background: var(--but);
  }
}