:root {
  --but: rgb(65 65 73);
  --bt2: rgb(93 93 101);
  --bg: rgb(28 28 34);
  --bg2: #323139;
  --bg3: rgba(75, 75, 85, 0.6);
  --brd: rgb(12, 12, 22);
  --main: rgb(242, 242, 242);
  --sec: #c1c1c1;
  --mes: rgb(235, 235, 235);
  --au: rgb(182, 236, 182);
  --au2: #b3cea8;
  --un: rgb(255, 169, 169);
  --un2: #e59a9a;
  --l: 1.4rem;
  --m: 1.3rem;
  --s: 1.1rem;
}