@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: local('B612 Mono Regular'), local('B612Mono-Regular'),
        url('../fonts/b612-mono-v4-latin-regular.woff2') format('woff2') 
}

@import "variables";
@import "mixins";
@import "base";
@import "header_footer";
@import "sellers";
@import "result";
@import "loading";